<html>
<body style = "font-family: Verdana, Arial, Helvetica, sans-serif ">

<h2>hypercyclic 1.9.20220316.1 - read me</h2>

<hr>

<h3>Important - before you start</h3>
<ul>
<li>for help and installation instructions please see the <a href="https://www.mucoder.net/en/hypercyclic/v0109/manual">hypercyclic userguide</a></li>
<li>for license information and acknowledgments, please see <a href="https://www.mucoder.net/en/hypercyclic/v0109/license">here</a></li>
<li>for what's new and release notes, see <a href="https://www.mucoder.net/en/hypercyclic/v0109/releasenotes">here</a></li>
<li>for more information visit <a href="https://www.mucoder.net/en/hypercyclic">hypercyclic page</a></li>
</ul>

<h3>Your feedback is appreciated!</h3>
<ul>
<li>You can find our support email and other info <a href="http://www.mucoder.net/en/hypercyclic/v0109/feedback">here</a></li>
</ul>

<h3>Enjoy!</h3>

</body>
</html>
